.jumbotron {
	background-color: #20315A;
	color: white;
}

.navbar-default {
	background-color: #20315A;
	color: white;
}

.panel-heading {
	background-color: #20315A;
	color: white;

}

.panel {
border-color: #20315A;
}